body {
  background: #131313;
  color: #619eff;
}

#appname {
  border-color: #313131;
  color: #e6e6e6;
}

#appversion {
  color: #444444;
}

#github-ref {
  filter: invert(75%);
}

#input-box>input {
  border-color: #2d2d2d;
  color: #606060;
}

#input-box>input::placeholder {
  color: #444444;
}

#totp-label {
  color: #cccccc;
}


#otpauth-button {
  filter: invert(60%);
}

#otpauth-button-qr {
  filter: invert(25%);
}

#totp-token-remaining-seconds-pie > circle{
  stroke: #4688f1;
}

#otpauth-qr {
  background: #f9f9f9;
  filter: brightness(0.94);
}

#otpauth-qr-overlay {
  background-color: #619eff;
  color: #131313;
}

.toast {
  background-color: #619eff;
  color: #131313;
}
