*
{
    box-sizing: border-box;
}

body
{
    font-family: Jost;

    width: 100%;

    margin: 0;
    padding: 8px;
    
    letter-spacing: .05em;

    color: #5892ee;
    background-color: #f5f5f5;
    overflow: hidden;
}

.toast
{
    font-size: 16px;

    position: fixed;
    right: 0;
    bottom: 20vh;
    left: 0;

    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    padding: 4px;

    text-align: center;

    color: #f5f5f5;
    border-radius: 20px;
    background-color: #5892ee;
}

#app-icon
{
    width: 32px;
    height: 32px;
    margin-right: 10px;

    background-image: url(otp-authenticator.png);
    background-size: contain;
}

#app-version
{
    font-size: x-small;

    position: fixed;
    bottom: 4px;

    width: 100%;

    text-align: center;

    color: #949494;
}

#calculator-container
{
    max-width: 400px;
    min-height: 20px;
    margin: 0 auto;
    padding: 24px;
}

/* #github-ref > img
{
    width: 100%;
    height: 100%;
} */

#github-ref
{
    position: fixed;
    bottom: 12px;
    left: 12px;

    width: 32px;
    height: 32px;

    background: url(github-icon.png) no-repeat;
    background-size: contain;
    filter: invert(25%);
}

#header-container
{
    font-size: 20px;
    font-weight: 500;

    position: relative;

    display: flex;

    min-width: 300px;
    max-width: 400px;
    height: 64px;
    margin: 0 auto;
    padding: 20px 12px 10px;

    color: #4c4c4c;
    border-color: #dedede;
    border-bottom: solid 2px;

    align-items: center;
}

#input-container
{
    position: relative;
}

#input-container > input
{
    font-size: 20px;

    width: 100%;
    max-width: 400px;
    margin-bottom: 8px;

    text-align: left;

    color: #a0a0a0;
    border: none;
    background-color: transparent;
}

#input-container > input::placeholder
{
    font-size: 16px;

    color: #bbb;
}

#input-container > input:focus
{
    outline: none;
}

#light-switch
{
    position: fixed;
    right: 12px;
    bottom: 12px;

    width: 32px;
    height: 32px;

    cursor: pointer;

    background: url(light-bulb.png) no-repeat;
    background-size: contain;

    filter: invert(75%);
}

#more-button
{
    width: 24px;
    height: 24px;
    margin-left: auto;

    cursor: pointer;

    background: url(more.png) no-repeat;
    background-size: contain;

    filter: invert(70%);
}

#otpauth-qr
{
    position: relative;

    width: 256px;
    height: 256px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;

    cursor: pointer;

    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: #fff;
}

#otpauth-qr-overlay
{
    font-size: 16px;

    position: absolute;
    top: 42%;
    right: 0;
    left: 0;

    width: 64%;
    margin: 0 auto;
    padding: 4px;

    text-align: center;

    color: #f5f5f5;
    border-radius: 20px;
    background-color: #5892ee;
}

#totp-label
{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;

    margin-bottom: 2px;

    cursor: pointer;

    color: #dadada;
}

#totp-token
{
    font-size: 24px;
    font-weight: 500;

    float: left;

    height: 34px;

    cursor: pointer;
}

#totp-token-container
{
    display: flex;

    margin-bottom: 4px;

    align-items: center;
}

#totp-token-remaining-seconds-pie
{
    display: block;

    width: 22px;
    height: 22px;
    margin-left: auto;

    transform: rotate(-90deg);

    border-radius: 50%;
}

#totp-token-remaining-seconds-pie > circle
{
    transition: stroke-dashoffset 1s linear;

    stroke: #5892ee;
    stroke-width: 100%;
    stroke-dasharray: 1;
    stroke-dashoffset: -1;
    fill: none;
}
