body { 
  width: 100%;
  background: #1d1d1d; 
  color: #ddd;
}

#appname { 
  font-size: 24px;
  text-align: center; 
  color: #e6e6e6; #
  padding: 10px;
  margin: 10px;
}

#calculator { 
  margin:0 auto;
  background: #404040; 
  border-color: #2f2f2f; 
  max-width: 400px;
}

#calculator:after{
    clear: both;
    content: "";
    display: block;
}

#input {
  background-color: #eee;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

#totp { 
  float: left;
  padding-left: 8px;
  height: 34px; 
  font-size: 24px; 
}

#totp-remaining-seconds-circle { 
  float: right;
  padding-right: 8px;
  width: 34px; 
  height: 34px; 
  padding: 7px;
  stroke: #ddd;
}


