body {
  width: 100%;
  background: #1d1d1d;
  color: #ddd;
}

#appname {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 2px;
  font-size: 24px;
  color: #e6e6e6;
}
#appname > img {
    height: 34px;
    width: auto;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

#calculator {
  margin:0 auto;
  background: #404040;
  border-color: #2f2f2f;
  max-width: 400px;
}

#calculator:after{
    clear: both;
    content: "";
    display: block;
}

#input {
  background-color: #eee;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

#totp-token { 
  float: left;
  padding-left: 8px;
  height: 34px;
  font-size: 24px;
}

#totp-token-remaining-seconds-circle {
  float: right;
  padding-right: 8px;
  width: 34px;
  height: 34px;
  padding: 7px;
  stroke: #ddd;
}
